
<% case @question_starter[0] %>
<% when 'radio button question' %>
<%= render 'options/new', locals: {question_starter: question_starter[1]} %>
<% when 'multiple choice question' %>
<%= render 'options/new', locals: {question_starter: question_starter[1]} %>
<% when 'short answer question' %>
<%= render 'freeforms/new', locals: {question_starter: question_starter[1]} %>
<% when 'long answer question' %>
<%= render 'freeforms/new', locals: {question_starter: question_starter[1]} %>
<% when '' %>
<% end %>
<% redirect_to edit_survey_path %>
<div>
Is this question required?
<%= f.radio_button_tag(:required, true) %>
<%= f.label_tag(:required, "Yes") %>
<%= f.radio_button_tag(:required, false) %>
<%= f.label_tag(:required, "No") %>
</div>
