  <%# requires q local variable %>

  <p class="question-title <%= "required" if q.required %>"><%= q.query %></p>
  <p class="question-description"><%= q.description %></p>
    <% if q.answer.answer_int == nil %>
      <% if q.freeforms.short == true %>
        <%= f.label :answer %><br/>
        <%= f.text_field :answer %>
      <% else %>
        <%= f.label :answer %><br/>
        <%= f.text_area :answer %>
      <% end %>
    <% else q.option_groups.options.each do |o| %>
      <% if o.type == "dropdown" %>
        <% f.label o.name %>
        <% f.select o.name %>
      <% elsif %>
      <% elsif %>
      <% else %>
      <% end %>
    <% end %>
  </p>
