<%# this is a nested resource that requires both @survey and @uestion %>
<%= form_for([@survey, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= render 'form' %>

<div>
save and create next question as a
<%= f.select(:question_starter) do %>
  <% [['Submit all current questions and review survey', ''],
    ['radio button question', {type: option, radio: true}],
    ['multiple choice question', {type: option, radio: false}],
    ['short answer question', {type: freeform, short: true}],
    ['long answer question', {type: freeform, short: false}]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
</div>
<div class="actions">
  <%= f.submit %>
</div>

<%= link_to 'Back', dashboard_path %>
<% end %>
