<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @survey.question.each do |q| %>
    <p><%= q.query %></p>
    <p><%= q.description %></p>
    <div class="actions">
      <%= link_to 'Edit', redirect_to edit_question_path(q) %>
    </div>
    <div class="field">
      <%= f.label q.query %><br>
    </div>
    <div class="field">
      <%= f.label q.description %><br>
    </div>
    <%= f.hidden_field(:user_id, current_user.id) %>


    <%# ff :_destroy %>


    <% end %>

<% end %>
