<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="survey-edit-field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>

  <p class="survey-edit-field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <% unless @survey.id.nil? %>
    <p class="survey-edit-field">
      <%= f.label :published, "Published", value: true %>
      <%= f.radio_button :published, true %>
      <%= f.label :published, "Not published", value: false %>
      <%= f.radio_button :published, false %>
    </p>

    <h2>Questions</h2>

    <%= f.fields_for :questions do |ff| %>
      <p>
        <%= ff.label :query %>
        <%= ff.text_field :query, class: "question-edit-query" %>
      </p>
      <p>
        <%= ff.label :description %>
        <%= ff.text_area :description, class: "question-edit-description" %>
      </p>
      <p>
        <%= ff.label :required, "Required", value: true, class: "question-edit-required" %>
        <%= ff.radio_button :required, true %>
        <%= ff.label :required, "Not Required", value: false, class: "question-edit-required"  %>
        <%= ff.radio_button :required, false  %>
      </p>

      <div class="actions">
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy %>
      </div>
    <hr>
    <% end %> <%# question form %>
  <% end %> <%# questions  %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
