<h1>New Survey</h1>
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Enter Survey name<h3>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <h3>Enter Survey description (optional)</h3>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    Create first question as a
  <%= f.select(:question_starter) do %>
    <% [['radio button question', {type: option, radio: true}], ['multiple choice question', {type: option, radio: false}]], [['short answer question', {type: freeform, short: true}]], [['long answer question', {type: freeform, short: false}]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<%= link_to 'Back', surveys_path %>
<% end %>
