<h1>New Survey</h1>
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Enter Survey name<h3>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <h3>Enter Survey description (optional)</h3>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<<<<<<< HEAD
<%= link_to 'Click to save and add radio button question' new_question_path(type: option, radio: true) %>
<%= link_to 'Click to save and add multiple choice question' new_question_path(type: option, radio: false) %>
<%= link_to 'Click to save and add short answer question' new_question_path(type: freeform, short: true) %>
<%= link_to 'Click to save and add long answer question' new_question_path(type: freeform, short: false) %>
=======


>>>>>>> 6f36bb5179a39150910a75e9256c3a859da83073
<%= link_to 'Back', surveys_path %>
