<p id="notice"><%= notice %></p>
<h1>Your survey has been created!</h1>
<p>Your unique survey link is: </p>
<%= root_url %><%= take_survey_path(@survey.token) %>
<p>
  <h3>Title:</h3>
  <%= @survey.title %>
  <%= @survey.description %>
</p>

<p>
  <h3>Questions:</h3>
  <% @survey.questions.each do |q| %>
  <%= q.query %>
  <%= q.description %>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', dashboard_path %>
