<p id="notice"><%= notice %></p>

<% if @survey.published %>
  <p>Your unique survey link is:
  <a href="<%= URI::join(root_url, take_survey_path(@survey.token)).to_s %>" target="_blank"><%= URI::join(root_url, take_survey_path(@survey.token)).to_s %></a>
<% end %>

<p>
  <h3>Title:</h3>
  <%= @survey.title %>
  <%= @survey.description %>
</p>

<p>
  <h3>Questions:</h3>
  <% @survey.questions.each do |q| %>
  <%= q.query %>
  <%= q.description %>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', dashboard_path %>
