<p id="notice"><%= notice %></p>
<h1>Your survey has been created!</h1>
<p>Your unique survey link is: </p>
<%= root_url %><%= take_survey_path(@survey.token) %>
<p>
  <strong>Name:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @survey.questions %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
