<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @survey.question_id %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
