<p id="notice"><%= notice %></p>

<% if @survey.published %>
  <p>Your unique survey link is:
  <a href="<%= URI::join(root_url, take_survey_path(@survey.token)).to_s %>" target="_blank"><%= URI::join(root_url, take_survey_path(@survey.token)).to_s %></a>
<% end %>

<h1><%= @survey.title %></h1>
<h2><%= @survey.description %></h2>

<% if @survey.questions.count > 0 %>
  <h3>Questions:</h3>
  <ol>
  <% @survey.questions.each do |q| %>
    <li class="question-view">
      <strong><%= q.query %></strong>
      <p><%= q.description %></p>
      <% q.option_groups.each do |g| %>
        <% if g.options.any? %>
          <% case g.options.first.type %>
          <% when "Dropdown" %>
            <div class="showDropdown[<%= g.id %>]">
              <%= collection_select(:g, :name, g.options, :id, :name) %>
            </div>
          <% when "Checkbox" %>
            <div class="showCheckbox[<%= g.id %>]">
              <%= collection_check_boxes(:g, :name, g.options, :id, :name) %>
            </div>
          <% when "Radio" %>
            <div class="showRadio[<%= g.id %>]">
              <%= collection_radio_buttons(:g, :name, g.options, :id, :name) %>
            </div>
          <% when "Truelean" %>
            <div class="showTruelean[<%= g.id %>]">
              <%= label_tag "True" %>
              <%= radio_button(:g, "truelean", true) %>
              <%= label_tag "False" %>
              <%= radio_button(:g, "truelean", false) %>
            </div>
          <% end %>
          <% g.options.each do |o| %>

          <% end %>
        <% end %>
      <% end %>
    </li>
  <% end %>

  <% if @survey.answers.any? %>
    <h1>"<%= @survey.title %>" Stats</h1>
      <p>Most popular answers:</p>

      <% @survey.questions.each do |q| %>
        <%= q.query %><br/>
        <%= q.answers.count %><br/>
      <% end %>
  <% end %>

<% end %>



<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', dashboard_path %>
