<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @survey.title %>
</p>

<% @survey.questions.each do |q| %>
  <%= render partial: 'questions/individual', locals: {q: q} %>
<%= end %>
<%= f.submit 
