<p id="notice"><%= notice %></p>
<%= form_for(@answer) do |f| %>

<p>
  <h3>Title:</h3>
  <%= @survey.title %>
</p>

<% @survey.questions.each do |q| %>
  <%= render partial: 'questions/individual', locals: {q: q} %>
<% end %>
<%= f.submit %>
<% end %>
