
<<<<<<< HEAD
<% if current_user.surveys.empty? %>
You have not created any surveys. Click here to create one!
=======
<% if current_user.surveys.count == 0 %>
You have not created any surveys. Click here to create one! <%= link_to "New Survey", new_survey_path %>
>>>>>>> 99f154a92fe548cbed5862e2293b3cca32ccd8c7
<% else %>
<table>
  <thead>
    <tr>
      <th>My Surveys</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= link_to 'Stats', survey %></td>
        <% if survey.empty? %>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <% end %>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
<%= link_to 'New Survey', new_survey_path %>
<p></p>
<%= link_to "Log Out", logout_path, method: :delete %>
